
{{#each playlists}}
  <li class="active">
    <a href="#" class="playlist-link" data-id="{{ID}}"><span class="glyphicon glyphicon-cd"></span> {{title}} </a>
  </li>
{{else}}
  <li class="noPlaylists">No playlists, get started by adding one above.</li>
{{/each}}
